.Scratch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.ScratchGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  box-sizing: border-box;

  padding-bottom: 1rem;
}

.Square {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  border: 1px solid black;
  font-size: 20px;

  position: relative;
}

.Ink {
  width: 75px; /* Adjust the size of the squares as needed */
  height: 75px;
  position: absolute;
  background-color: rgba(220, 220, 220, 1);
}

@keyframes lowerOpacity {
  0% {
    background-color: rgba(220, 220, 220, 1);
  }
  100% {
    background-color: rgba(220, 220, 220, 0);
  }
}

.Winnings {
  height: 4rem;
}

.ScratchAll {
  border: 1px solid rgb(50, 50, 60);
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 5px;

  bottom: 0px;
  box-shadow: none;
  animation: none;
}

.ScratchAll:hover {
  cursor: pointer;
}