.ScratchGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;

  padding: 1rem;
}

.Square {
  height: 75px; /* Adjust the size as needed */
  width: 75px; /* Adjust the size as needed */
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white; /* Adjust the background color as needed */
  border: 1px solid black; /* Adjust the border as needed */
  font-size: 20px; /* Adjust the font size as needed */

  position: relative;
}

.Ink {
  width: 75px;
  height: 75px;
  position: absolute;
  background-color: rgba(220, 220, 220, 1);
}

@keyframes lowerOpacity {
  0% {
    background-color: rgba(220, 220, 220, 1);
  }
  100% {
    background-color: rgba(220, 220, 220, 0);
  }
}

.ScratchWinnings {
  width: 100%;
  font-size: 14px;
  line-height: 18px;
}
