.Shop {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ShopMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ShopDecision {
  margin-top: 1rem;
  display: flex;
}
