.Arcade {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Bet {
  margin: 1rem;
  text-align: center;
}

.Bet > input {
  text-align: center;
}

.ArcadeButton {
  width: 12rem;
  margin: 0.25rem;
}

.ResetGame {
  margin: 1rem;
  border: 1px solid black;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 5px;

  position: absolute;
  bottom: 0px;
}

.ResetGame:hover {
  cursor: pointer;
}

.Warning {
  width: 100%;
  margin-top: 1rem;
  font-size: 14px;
  line-height: 18px;
}
