.FishingGame {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FishingDisplay {
  width: 15rem;
  height: 15rem;

  border: 1px solid black;
  border-radius: 5px;
}

.FishingDisplay > img {
  width: 100%;
  height: 100%;

  border-radius: 5px;
}

.FishCaughtInfo {
  width: 100%;
  height: 100%;

  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.NewFishCaught {
  color: red;
}

.FishCaughtInfo > img {
  width: 5rem;
  margin: 0.25rem;
}

.FishCaughtInfo > h1 {
  font-size: 14px;
  width: 90%;
  text-align: center;
  margin: 0.1rem;
}

.FishCaughtInfo > h2 {
  font-size: 12px;
  width: 90%;
  text-align: center;
  margin: 0.1rem;
  margin-bottom: 0.5rem;
}

.FishCaughtInfo > h3 {
  font-size: 10px;
  width: 90%;
  text-align: center;
  margin: 0.1rem;
}

.PlayersFishing {
  width: 15rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  box-sizing: border-box;

  padding-top: 5rem;
  padding-bottom: 1rem;
}
