.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
  position: relative;
}

.AppHeader {
  width: 100%;
  height: 4rem;

  display: flex;
  margin-bottom: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  background: linear-gradient(to top, white, rgb(137, 226, 255));
  color: black;
}

.Mana {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding-left: 1rem;
}

.Mana > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Mana > h2 {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  padding-top: 0.25rem;
}

.Username {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.CurrencyIcon {
  position: relative;
  width: 1rem;
  height: 1rem;
  padding-left: 0.2rem;
}

.ProfileIcon {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid rgb(50, 50, 60);
  border-radius: 5px;
  background: white;

  position: absolute;
  top: 2rem;
  right: 1rem;
}

.ProfileIcon > img {
  width: 100%;
  height: 100%;
}

.ProfileIconSelector {
  height: 20rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;

  box-sizing: border-box;
  border: 1px solid rgb(50, 50, 60);
  border-radius: 5px;

  overflow-x: hidden;
  overflow-y: scroll;

  padding: 0.25rem;
}

.ProfileIconChoice {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(50, 50, 60);
  border-radius: 5px;

  position: relative;
}

.ProfileIconCover {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.ProfileIconChoice > img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.Wave {
  position: absolute;
  bottom: -5.5rem;
  left: 50%;
  width: 700%;
  height: 100%;
  background: linear-gradient(rgba(95, 218, 255, 0.6), rgba(6, 20, 146, 0.6));
  border-radius: 43%;
  opacity: 0.8;
  animation: WaveAnimation 5s infinite linear;
  transform: translateX(-50%);
  z-index: -2;
}

@keyframes WaveAnimation {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-45%) translateY(10px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

.Wave:nth-child(2) {
  bottom: -6rem;
  animation-duration: 7s;
  opacity: 0.5;
}

.Wave:nth-child(3) {
  bottom: -6.5rem;
  animation-duration: 9s;
  opacity: 0.3;
}

.TextPopUp {
  opacity: 0;
  position: absolute;
  top: -2rem;

  font-size: 16px;
  color: rgb(255, 217, 0);
  pointer-events: none;
}

@keyframes textPopUp {
  0% {
    margin-top: 4rem;
    opacity: 0;
  }
  10% {
    margin-top: 0rem;
    opacity: 0.9;
  }
  80% {
    margin-top: 0rem;
    opacity: 1;
  }
  100% {
    margin-top: 0rem;
    opacity: 0;
  }
}

.Notification {
  position: absolute;
  top: 20%;
  right: 15%;

  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: red;
}