.Plot {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 6px;
  box-sizing: border-box;

  border: 2px solid rgb(50, 135, 50);
  padding: 8px;
  border-radius: 10px;
  background: rgb(95, 180, 105);
}
