.Home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HomeButton {
  width: 2rem;
  height: 2rem;
  font-size: 10px;

  position: absolute;
  left: 10px;
}

.HomeButton > img {
  width: 1.5rem;
  height: 1.5rem;
}

.LogoutButton {
  width: 2rem;
  height: 2rem;
  font-size: 10px;

  position: absolute;
  right: 10px;
}

.ClaimButton {
  width: 4rem;
  height: 4rem;
}

.StoredManaPopup {
  opacity: 0;
  position: absolute;
  top: -2rem;

  font-size: 16px;
}

@keyframes claimStoredMana {
  0% {
    margin-top: 4rem;
    opacity: 0;
  }
  10% {
    margin-top: 0rem;
    opacity: 0.9;
  }
  80% {
    margin-top: 0rem;
    opacity: 1;
  }
  100% {
    margin-top: 0rem;
    opacity: 0;
  }
}

.NavigationButtons {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;

  margin: 1rem;
}

.NavigationButtons > button {
  width: 8rem;
  height: 8rem;

  display: flex;
  flex-direction: column;
  justify-content: start;

  font-size: 20px;

  margin: 0.5rem;
}

@keyframes bubbleFloat {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(-3px, -3px) scale(1.025);
  }
  50% {
    transform: translate(3px, -3px) scale(1.05);
  }
  75% {
    transform: translate(-3px, -3px) scale(1.025);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.BubbleReflection {
  width: 45%;
  height: 20%;

  background: white;
  position: absolute;
  top: 15%;
  right: 10%;

  border-radius: 60% 40% 60% 40% / 40% 60% 40% 60%;
  transform: rotate(35deg) scale(1.2, 1);
  z-index: -1;
}
