body,
button {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: rgb(50, 50, 60);

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);

  padding: 1.25rem;
  animation: bubbleFloat 10s ease-in-out infinite;

  font-weight: bold;
}

@keyframes bubbleFloat {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(-1px, -1px) scale(1.025);
  }
  50% {
    transform: translate(1px, -1px) scale(1.05);
  }
  75% {
    transform: translate(-1px, -1px) scale(1.025);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: rgb(50, 50, 60);
}

::-webkit-scrollbar-thumb {
  background: rgb(100, 100, 110);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(80, 80, 90);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
