.VolumeSlider {
    position: absolute;
    top: 0.5rem;
    right: 0.75rem;

    width: 8rem;
    display: flex;
    justify-content: center;
}

.BGMIcon {
    width: 1.5rem;
}

.VolumeSlider > input {
    width: 100%;
}

.NotificationsIcon {
    position: absolute;
    width: 1.5rem;
    right: 6.5rem;
    top: 1.5rem
}